:root {

    --primary-color: #000;
    --secondary-color: #fff;
    --primary-alpha-color: rgba(33,51,78,0.7);
    --secondary-alpha-color: rgba(255, 255, 255, 0.5);
}

*{

    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {

    height: 100vh;

    background-image: url("./../accessories/img/ucsybackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    background-color: var(--primary-alpha-color);

    width: 40vw;

    border-radius: 20px;
    box-shadow: -2px -2px 10px var(--secondary-color), 2px 2px 50px var(--secondary-color);

    display: flex;

    overflow: hidden;
}

.container .sub-container {

    width: 35%;

    text-align: center;

    padding: 50px 20px;
}

.container .sub-container img {

    width: 40%;

    padding: 5px;
}

.container .sub-container p {

    color: var(--secondary-color);

    font-size: 25px;
    font-weight: 700;

    -webkit-text-stroke: 1px #000;

    line-height: 60px;
}

.container .form-container {

    background-color: var(--secondary-alpha-color) ;
    width: 75%;
    min-height: 500px;

    border-radius: inherit;
    
    box-shadow: -5px 0 10px rgba(255, 255, 255, 0.3);


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 5% 10%;
}

.form-group {
    /* background-color: cyan;    */
    /* border: 1px solid #000; */

    position: relative;
}

.container .form-container .form-group .form-control {

    background-color: transparent;
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #000;
    padding-top: 10px;
}

.container .form-container .form-group .form-control:focus {
    outline: none;
}   

.container .form-container .form-group label {

    position: absolute;
    bottom: 0;
    left: 0;

}

.container .form-container .form-group .form-control:focus ~ label,
.container .form-container .form-group .form-control:not(:placeholder-shown) ~ label{

    font-weight: bold;

    bottom: 100%;

    transition: all 0.5s;

}

.container .form-container .form-group img {

    width: 20px;
    height: 20px;

    position: absolute;
    bottom: 0;
    right: 0;

    cursor: pointer;
}

.container .form-container .btn-group {

    text-align: center;
}

.container .form-container .btn {

    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    font-size: 14px;
    font-weight: bold;

    border: none;
    border-radius: 5px;

    padding: 15px 0;

    cursor: pointer;

    transition: transform 0.5s;
}

.container .form-container .btn:hover {

    transform: scale(1.02);
}

.container .form-container .btn:focus{
    outline: none;
}